/* layout */
body{
        /* background-image: url(../img/body_bg.gif); background-color: #f1f4fb; */
         background: #f1f4fb url(../img/body_bg.gif);
    }
#wrap{}
#header{width: 100% ; height: 327px; 
    /* background-image: url(../img/header_bg.jpg); 
    background-repeat: repeat-x; 
    background-position: center top; */
    background: url(../img/header_bg.jpg) repeat-x center top;
}

#footer{width: 100%; height: 200px; background-color: #777;}

/* container */
.container{position: relative; width:990px;  margin: 0 auto;}


/* contents layout */
#cont-nav{background: url(../img/body_bg.gif) repeat-x;}
#cont-tit{background-color: #fff; }
#cont-ban{background-color: #dceff7; }



/* quick */
.quick{text-align: right;}
.quick ul{overflow: hidden;}
.quick ul li{float: left;}
.quick a{ color: #fff; padding: 5px 0 0 10px; display: inline-block;}
.quick a:hover{color: #ccc;}


/* title inline  방식 css  
.title{text-align: center;}
.title p{background-color: #2698cb; font-size: 28px; display: inline-block; color:#fff; margin-top: 100px; padding: 5px 15px; text-transform: uppercase;}
.title h1 a{background-color: #4aa8d4; font-size: 18px; color: #fff;display: inline-block; text-transform: uppercase; padding: 5px 15px;}
 */


 /* title position 방식 css */
.title{}
.title h1{position: absolute; left: 390px; top: 160px;}
.title h1 a{ background-color: #2698cb;font-size: 18px; color: #fff; padding: 5px 15px; display: block; }
.title p{background-color: #4aa8d4; font-size: 28px;  color:#fff;  padding: 5px 15px; text-transform: uppercase; position: absolute;left: 230px; top: 110px;}


/* icon   스프라이트  방법 */
.icon{position: absolute; left: 360px; top:220px}
.icon ul{overflow: hidden;}
.icon ul li{float: left;}
.icon li a {width: 60px; height: 60px;  display:block; margin: 0 3px; background-image: url(../img/icon.png);}
.icon li a:hover{background-image: url(../img/icon.png); background-position-x: -60px;}
.icon li.icon-tit1 a{ }
.icon li.icon-tit2 a{background-position-y: 690px;}
.icon li.icon-tit3 a{background-position-y: 630px;}
.icon li.icon-tit4 a{background-position-y: 570px;}


/* nav */
.nav{overflow: hidden; padding: 20px 0;}
.nav div{float: left;width: 40%;}
.nav div h3{font-size: 18px; color: #25a2d0; font-weight: 600;}
.nav div ul{overflow: hidden;}
.nav div ul li{width: 50%;float: left;}
.nav div ul li a{color: #333; padding: 3px;}
.nav div ul li a:hover{background-color: #1a96d0;  color: #fff;}
.nav div.last{width: 20%;}
.nav div.last ul li{width: 100%;}


/* tit */
.tit{}
.tit h2{text-align: center; font-size: 39px; color:#2c94c4; letter-spacing: 2px; font-family:'Nanum Brush Script';}
.tit .btn{position: absolute; right: 0; top:0px; display: block; width: 60px; height: 60px; background-color: #000; background: url(../img/icon.png) 0 150px;}
.tit .btn:hover {background: url(../img/icon.png) -60px 150px;}   



/* ban */
.ban{padding: 30px 0 20px 0;}
.ban ul{overflow: hidden;}
.ban ul li{float: left; width: 330px; text-align: center; font-size: 0;}
.ban ul li a img{border: 4px solid #dcdcdc;}
.ban ul li a img:hover{border-color:  #98bcdc;}
.ban .ban-prev{position: absolute; left: -50px; top: 70px;  width:43px; height: 43px;  background: url(../img/icon.png) -150px  0px; }
.ban .ban-next{position: absolute; right: -50px; top: 70px;  width:43px; height: 43px;  background:url(../img/icon.png)  -150px -43px;  }
.ban .ban-prev:hover{background-position-x: -193px; }
.ban .ban-next:hover{background-position-x: -193px; }

.ban .dot { margin-top: 15px;}
.ban .dot ul{overflow: hidden;  display: flex;justify-content: center;}
.ban .dot ul li{float: left; width:15px; height: 15px; margin: 0px 5px; border-radius: 50%; cursor: pointer;  background-color: #5dbfeb;}
.ban .dot li:hover{ width:15px; height: 15px; background-color: #2b91c8; }

/* cont layout */
.cont{overflow: hidden; padding-top: 30px;}
.cont .box{width:289px; height: 364px; float: left;  margin: 0 30px 30px 0; padding-right: 30px; position: relative;}
.cont .box1{border-right: 1px solid #c8c8c8;}
.cont .box2{border-right: 1px solid #c8c8c8;}
.cont .box3{margin-right: 0px; padding-right: 0px;}
.cont .box4{border-right: 1px solid #c8c8c8;}
.cont .box5{border-right: 1px solid #c8c8c8;}
.cont .box6{margin-right: 0px; padding-right: 0px}


.cont .box .ico-img{width: 60px; height: 60px; background-color: #000; display: block;position: absolute; left: 0; top:6px;}
.cont .box .ico-tit{padding-left: 67px; font-size: 18px; color: #2c94c4;}
.cont .box .ico-desc{padding-left: 67px;padding-bottom: 15px; color: #878787; border-bottom: 1px solid #d0d0d0; margin-bottom: 15px;}
.cont .box .ico-img:hover{ background-position-x: -60px; cursor: pointer;}
.cont .box1 .ico-img{ background: url(../img/icon.png) 0 -240px}
.cont .box1 .ico-img{ background: url(../img/icon.png) 0 -240px}
.cont .box2 .ico-img{ background: url(../img/icon.png) 0 -300px}
.cont .box3 .ico-img{ background: url(../img/icon.png) 0 -360px}
.cont .box4 .ico-img{ background: url(../img/icon.png) 0 -420px}
.cont .box5 .ico-img{ background: url(../img/icon.png) 0 -480px}
.cont .box6 .ico-img{ background: url(../img/icon.png) 0 -540px}


/* notice */
.notice{position: relative;}
.notice h4{font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px;}
.notice li{ background: url(../img/dot.gif) no-repeat 0px 8px; padding-left: 8px;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.notice .more{position: absolute; right:0px; top: 3px;width: 17px; height: 18px; background: url(../img/icon.png) -150px  -89px; display:block; }
.notice .more:hover{ background-position-x: -167px ; right:0px;padding: 0px;}


/* notice2 */
.notice2{position: relative;}
.notice2 h4{font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px}
.notice2 li {background: url(../img/dot.gif) no-repeat 0px 8px; padding-left: 8px;  overflow: hidden;   }
.notice2 li a{float: left; width: 60%;  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.notice2 li .time{float: right; width: 30%;  text-align: right;}
.notice2 .more{position: absolute; right:0px; top: 3px;width: 17px; height: 18px; background: url(../img/icon.png) -150px  -89px; display:block; }
.notice2 .more:hover{ background-position-x: -167px ; right:0px;padding: 0px;}



/* notice3 */
.notice3{position: relative;}
.notice3 h4{font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px}
.notice3 li{position: relative; height: 52px; padding-left: 60px; padding-top: 8px;}
.notice3 li a img{width: 50px;height: 50px;  position: absolute;left: 0px; top: 0px; border: 1px solid #390;}
.notice3 li a strong{ display: block;}
.notice3 li a em{display: block;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.notice3 .more{position: absolute; right:0px; top: 3px;width: 17px; height: 18px; background: url(../img/icon.png) -150px  -89px; display:block; }
.notice3 .more:hover{ background-position-x: -167px ; right:0px;padding: 0px;}


/* notice4 */
.notice4{position: relative; border: 1px solid #ccc; margin-top: 10px;}
.notice4 h4{font-size: 14px; border-bottom: 1px solid #ccc; padding: 8px 10px; font-weight: bold;}
.notice4 h4 em{ color: #cf3292;}
.notice4 ul{padding: 10px;}
.notice4 li{overflow: hidden; background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px;}
.notice4 li a { float: left;  width: 60%;  overflow: hidden; white-space:nowrap; text-overflow: ellipsis;}
.notice4 li .time{float:right; width: 30%;text-align: right;}
.notice4 .more{position: absolute; right:8px; top: 8px; display:block; }





/* ad */
.ad{position: relative;}
.ad h4{font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px}
.ad ul{overflow: hidden;}
.ad li{float: left; width: 33.3333%;text-align: center;}
.ad li img{width: 90px; height: 90px;}
.ad .more{position: absolute; right:0px; top: 3px;width: 17px; height: 18px; background: url(../img/icon.png) -150px  -89px; display:block; }
.ad .more:hover{ background-position-x: -167px ; right:0px;padding: 0px;}




/* notice-hover */
.notice-hover{position: relative;}
.notice-hover h4{font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px}
.notice-hover ul{overflow: hidden;}
.notice-hover li{float: left; width: 33.3333%; text-align: center;}
.notice-hover li a span{position: relative; display: block;width: 90px;height: 90px;margin: 0 auto;}
.notice-hover li a span img{width:90px; width: 90px;}
.notice-hover li a span em{visibility: hidden;  position: absolute; left: 0; top: 0; background: #000; 
    color: #fff;width: 100%; height: 100%; line-height: 90px;
    background: rgba(0,0,0,0.5);
    /* background: #000; opacity: 0.5; filter:alpha(opacity=50); */
}
.notice-hover li a span:hover em{visibility: visible; }
.notice-hover li a strong{display: block; padding-top:3px;}
.notice-hover .more{position: absolute; right:0px; top: 3px;width: 17px; height: 18px; background: url(../img/icon.png) -150px  -89px; display:block; }
.notice-hover .more:hover{ background-position-x: -167px ; right:0px;padding: 0px;}


/* notice-hover2 */
.notice-hover2{position: relative;}
.notice-hover2 h4{font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px}
.notice-hover2 ul{overflow: hidden;}
.notice-hover2 li{float: left; width: 33.3333%; text-align: center;}
.notice-hover2 li a span{position: relative; display: block;width: 90px;height: 90px;margin: 0 auto;}
.notice-hover2 li a span img{width:90px; width: 90px;}
.notice-hover2 li a span em{visibility: hidden;  position: absolute; left: 0;  background: #000; 
    color: #fff;width: 100%; 
    background: rgba(0,0,0,0.6); bottom: 0;
    /* background: #000; opacity: 0.5; filter:alpha(opacity=50); */
}
.notice-hover2 li a span:hover em{visibility: visible; }
.notice-hover2 li a strong{display: block; padding-top:3px;}
.notice-hover2 .more{position: absolute; right:0px; top: 3px;width: 17px; height: 18px; background: url(../img/icon.png) -150px  -89px; display:block; }
.notice-hover2 .more:hover{ background-position-x: -167px ; right:0px;padding: 0px;}




/* tab_menu */
.tab_menu{position: relative; border: 1px solid #ccc; height: 105px; padding: 8px;}
.tab_menu ul{overflow: hidden;border-bottom: 1px solid #ccc;}
.tab_menu ul li{float: left; border: 1px solid #ccc; margin-right: -1px; margin-bottom: -1px;}
.tab_menu ul li a{display: block; padding:5px 10px;}
.tab_menu ul li ul{position: absolute; left: 10px; top: 50px; border: none; width: 270px;}
.tab_menu ul li ul li{float: none; border: none; background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px;}
.tab_menu ul li ul li a{padding: 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 100%;}

.tab_menu ul li.active{background-color: #2c94c4;}
.tab_menu ul li.active a{color: #fff;}
.tab_menu ul li.active ul li a{color: #333;}








